<div class="">

  <div type="button" class="FloatButton _blueFB" (click)="addProvider()">
      <hrm-icons [style.cursor]="'pointer'" [type]="'add'"   [dimention]="24" [fill]="'#fff'" (click)="Open()"></hrm-icons>
  </div>

  <div class="Tbody_Hrm">
    <div class="Ttr_Hrm" *ngFor="let provider of providers">
      <span>
        <strong>{{ provider.name }}</strong>
      </span>
      <div class="flexSpace"></div>  
      <p>{{ provider.address.formatted_address }}</p>
      <div class="flexSpace" ></div>  
      <a class="Ttr_Hrm_a" >
        <popup-buttom>
          <popup-container>
            <div class="ContItmPop">
              <div class="ItmPop" (click)="editProvider(provider)">
                  <span>Edit</span>                                                       
                </div>
                <div class="ItmPop"  (click)="deleteProvider(provider)">
                    <span>Delete</span>      
                    
                </div>
                <div class="ItmPop"  (click)="addCategory(provider)">
                    <span>Add Category</span>      
                    
                </div>
                <div class="ItmPop"  (click)="orders(provider)">
                    <span>Order List</span>      
                    
                </div>
            </div>                               
          </popup-container> 
        </popup-buttom>
                 
      </a>
    </div>
  </div>
</div>