<div id="navbar">
  <div class="NavFlex">
    <div class="NavItems">
      <hrm-icons [style.cursor]="'pointer'" [type]="'menu'" [dimention]="24" [fill]="'aaa'"></hrm-icons>
    </div>
    <div class="flexSpace"></div>
    <div class="NavItems">
      <a class="Ttr_Hrm_a">
        <popup-buttom [icon]="'user'" [fill]="'aaa'">
          <popup-container>
            <div class="ContItmPop">
              <div class="HeaderPop">
                <span *ngIf="(userAuthState | async)">
                  <a>{{displayName}}</a>
                </span>
              </div>
              <div class="ItmPop" (click)="logout()">
                <span *ngIf="(userAuthState | async)"> Logout </span>
              </div>              
            </div>
          </popup-container>
        </popup-buttom>
      </a>
    </div>
  </div>
</div>

<div class="MenuItm" *ngIf="(userAuthState | async) && isAdmin()">
  <a [routerLink]="['/list-providers']"> Manage Providers </a>
</div>

