<!--<div class="content">


  <div class="name">
    <label>Provider ID</label>
    <input type="text" [(ngModel)]="provider.id" placeholder="url name and ID" name="name" />
  </div>

  <div class="name">
    <label>Store name</label>
    <input type="text" [(ngModel)]="provider.name" placeholder="Store name" name="name" />
  </div>

  <div class="name">
    <label>Description</label>
    <input type="text" [(ngModel)]="provider.description" placeholder="Description" name="description" />
  </div>

  <div class="address">
    <label>Address</label>
    <input placeholder="type address" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search [formControl]="searchControl">
  </div>

  <div class="suite">
    <label>Suite #</label>
    <input type="text" [(ngModel)]="address.number" placeholder="Optional" name="suite" />
  </div>

  <div class="images">
    <label>Images</label>
    <input type="file" class="button" (change)="detectFiles($event)" multiple>
  </div>


  <div class="save">
    <button [disabled]="!selectedFiles" (click)="uploadMulti()"> Submit </button>
  </div>
</div>-->


<div class="container">
  <div [hidden]="submitted">
    <h1>New Provider</h1>

    <form (ngSubmit)="onSubmit()" #providerForm="ngForm">

      <div class="form-group">
        <label for="id">Provider ID</label>
        <input type="text" class="form-control" id="id" required [(ngModel)]="provider.id" name="id" #id="ngModel" #spy>
        <br>TODO: remove this: {{spy.className}}
        <div [hidden]="id.valid || id.pristine" class="alert alert-danger">
          ID is required
        </div>
        <div [hidden]="id.dirty" class="alert alert-danger">
          ID is required, use unique identifier example /miBusiness
        </div>
      </div>


      <div class="form-group">
        <label for="name">Provider Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="provider.name" name="name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Name is required
        </div>
      </div>


      <div class="form-group">
        <label for="alterEgo">Description</label>
        <input type="text" class="form-control" id="description" [(ngModel)]="provider.description" name="description" #description="ngModel">
      </div>


      <div class="form-group">
        <label for="address">Address</label>
        <input class="form-control" placeholder="type address" id="address" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" name="address" #search [formControl]="searchControl">
      </div>

      <div class="form-group">
        <label for="suite">Suite</label>
        <input class="form-control" type="text" id="suite" [(ngModel)]="address.number" placeholder="Optional" name="suite" />
      </div>

      <div class="form-group">
        <label for="images">Images</label>
        <input type="file" class="button" (change)="detectFiles($event)" multiple>
      </div>      

      <button type="submit" class="btn btn-success" [disabled]="!providerForm.form.valid">Submit</button>
      <!--<button type="button" class="btn btn-default" (click)="newHero(); providerForm.reset()">New Hero</button>-->

    </form>
  </div>
</div>

  <!--<div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9  pull-left">{{ model.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Alter Ego</div>
      <div class="col-xs-9 pull-left">{{ model.alterEgo }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Power</div>
      <div class="col-xs-9 pull-left">{{ model.power }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>-->


  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="10">
    <agm-marker [latitude]="latitude" [longitude]="longitude">

      <agm-info-window>
        <h3>Howdy!</h3>
        <p>You are here!</p>
      </agm-info-window>

    </agm-marker>
  </agm-map>